* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  font-size: 16px;
  text-decoration: none;
}

.img-fondo {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.formulario {
  position: relative;
  padding: 10px;
  box-shadow: 4px 4px 10px 4px rgb(186, 186, 186);
  border-radius: 10px;
  top: 50px;
  z-index: 20;
}

.form-h3 {
  text-align: center;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
