* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar_logo {
  width: 36px;
  border-radius: 50%;
  filter: opacity(0.8);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.search {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search i {
  font-size: 25px;
  color: black;
}

.search-txt {
  display: flex;
  align-items: center;
}

.search-txt i {
  color: red;
  font-size: 40px;
  margin-top: 1%;
}

.search-txt h2 {
  color: black;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.diseños {
  padding: 50px 0 150px 0;
}

.diseños h2 {
  display: grid;
  place-items: center;
  font-family: "Times New Roman", Times, serif;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  margin-top: 120px;
}

.swiper-slide img {
  height: 400px;
  border-radius: 12px;
  display: block;
  width: 100%;
}

.icons {
  padding: 0 350px 50px 350px;
  display: flex;
  justify-content: space-between;
}

.icons i {
  font-size: 25px;
  color: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons i:hover {
  color: rgb(255, 0, 179);
  background-color: #fefefe;
  box-shadow: 0 0 20px rgba(1, 0, 0, 2);
  cursor: pointer;
}

@media (max-width: 991px) {
  body {
    min-height: 0vh;
  }

  .search {
    padding: 30px 30px 0 30px;
  }

  .diseños {
    padding: 30px;
  }

  .icons {
    padding: 30px;
  }
}
