<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="/template.fragments/head :: head"> </head>
<body>
  
  <nav th:replace="/template.fragments/navbar :: nav"> </nav>


    <section class="container">


    <div class="search-txt">
       <i class="fa-brands fa-pinterest"> </i>
      <h2> Diseños de autores </h2>
     </div>
    </section>
     <section class="diseños container">
      <h2>Ultimos diseños</h2>
      <div class="swiper mySwiper">
             <div class="swiper-wrapper">

                 <div class="swiper-slide">
                   <h4>User</h4> 
                 <img src="../static/Imagenes/img1.jpg" alt="">
                  <p>Descripcion de esta foto y diseño que publican</p>
                 </div>
                 <div class="swiper-slide">
                  <h4> </h4>
                    <img src="../static/Imagenes/img2.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img3.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img4.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img5.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img6.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img7.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img8.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img1.jpg" alt="">  
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img2.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img3.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img4.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                    <img src="../static/Imagenes/img5.jpg" alt="">
                   </div>
            </div>
        </div>
      <div class="swiper-wrapper">
        <div th:each="publicacion : ${publicacionesAlta}" class="swiper-slide">
        <h4 th:text="${publicacion.titulo}"></h4>
        <img th:src="@{imagen/publicada/__${publicacionesAlta.idPublicacion}__}" alt="Img de la publicacion">
        <p th:text="${publicacion.contenido}"></p>
        </div>
    </div>
    </section>
    <section class="icons container">
       <i class="fa-solid fa-house"></i>
       <i class="fa-solid fa-fire-flame-curved"></i>
       <i class="fa-solid fa-folder"></i>
       <a th:href="@{/publicacion/registrarPubli}"> <i class="fa-solid fa-camera-retro"></i></a>
    </section>

    <div th:if="${exito != null}">
      <h5 style="color: green">Éxito!!! :)</h5>
      <h2 th:text="${exito}"></h2>
    </div>

    <div class="container">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
          </div>
          <div class="col-md-5 offset-md-1 mb-3">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
  
          <div class="container">
            <footer class="py-3 my-4">
              <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hogar</font></font></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Características</font></font></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Precios</font></font></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Preguntas frecuentes</font></font></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acerca de</font></font></a></li>
              </ul>
              <p class="text-center text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2023 Compañía, Inc.</font></font></p>
            </footer>
          </div>
         <script src="../static/script/script.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>